.navbar {
  background-color: rgba(10, 52, 30, 0.196);
  padding: 10px;
  box-shadow: 0 2px 4px -2px rgba(0,0,0,0.5);
  border: #333 ;
}



  .navbar-nav {
    display: flex;
    list-style-type: none;
    margin: 2px;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 10px;
    width:60%;
  }
  .navbar-nav me-auto{
    width:60%;
  }
  .nav-link {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
  }
  
  .nav-link:hover {
    background-color: #ddd;
  }
  .Filter{
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
    border-radius: 10px;
    width:60%;
  }
  .flex {
    display: flex;
  }
  .items-center {
    align-items: center;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .gap-2 {
    gap: 0.5rem;
  }
  
  .relative {
    position: relative;
  }
  .w-12 {
    width: 3rem;
  }
  
  .min-w {
    min-width: 44px;
    margin-right:-15px
  }
  
  .object-cover {
    object-fit: cover;
  }
  
  .rounded-full {
    border-radius: 50%;
  }
  
  .shadow-lg {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .text-textColor {
    color: #000000;
  }
  
  .text-lg {
    font-size: 1.125rem;
  }
  
  .hover:text-headingColor:hover {
    color: #ff0000;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .text-base {
    font-size: 1rem;
  }
  
  .hover:font-semibold:hover {
    font-weight: 600;
  }
  
  .duration-150 {
    transition-duration: 150ms;
  }
  
  .ease-in-out {
    transition-timing-function: ease-in-out;
  }
  .styled-div {
  position: absolute;
  z-index: 10;
  top: 50px;
  right: 10px;
  width: 200px;
  padding: 14px;
  gap: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.styled-div .dropdown-item {
  font-size: 1rem;
  color: #333;
  padding: 5px 10px;
  margin:5px 10px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.styled-div .dropdown-item:hover {
  background-color: rgba(10, 52, 30, 0.196);
}

.styled-div .dropdown-item:last-child {
  margin-top: 10px;
}

.styled-div .dropdown-item:last-child:hover {
  background-color: rgba(10, 52, 30, 0.196);
}


  .form-control me-2{
width:150%;
  }
.result-container {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.result-container:nth-child(even) {
  background-color: #f1f1f1;
}

.result-header {
  margin-bottom: 10px;
}

.result-header h3 {
  font-size: 18px;
  margin: 0;
}

.result-header p {
  font-size: 14px;
  color: #888;
  margin: 0;
}

.result-content {
  display: flex;
}

.result-image {
  flex: 0 0 200px;
  margin-right: 20px;
}

.result-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.result-details {
  flex: 1;
}

.result-details p {
  margin-bottom: 10px;
}
